.d-flex {
    display: flex !important;
}
.align-center {
    align-items: center !important;
}
.justify-center {
    justify-content: center !important;
}
.justify-space-between {
    justify-content: space-between !important;
}
.justify-space-around {
    justify-content: space-around !important;
}