<div class="card-grid">
  <div
    *ngFor="let cardItem of cardsToDisplay; let cardIndex = index;"
    class="card"
    (click)="cardClicked(cardItem)"
    [ngClass]="{ flip: cardItem.isFlipped }"
  >
    <div class="front">
      <h3 class="card-question">{{cardIndex + 1}}) {{ cardItem.question }}</h3>
      <span>(Click to view answer)</span>
    </div>
    <div class="back">
      <span>(Click to view question)</span>
      <p class="card-answer">{{ cardItem.answer }}</p>
    </div>
  </div>
</div>
