.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1.5fr));
  grid-gap: 1rem;
  gap: 1rem;
  align-items: center;
  padding: 20px;
}
.card {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgb(0 0 0 / 30%);
  background-color: #fff;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  transition: 0.15s;
  cursor: pointer;
  .back,
  .front {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
  }
  .back {
    transform: rotateY(180deg);
    color: #000;
  }
  .card-question {
    font-size: 14px;
    color: black;
  }
  .card-answer {
    font-size: 12px;
    color: green;
  }
  &.flip {
    --rotate-y: 180deg;
    .front {
      backface-visibility: hidden;
    }
  }
  &:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgb(0 0 0 / 50%);
  }
}
.question-panel {
  padding: 30px;
}
