<div class="subheader d-flex justify-space-around">
  <div class="form-nonanim">
    <div class="form-field">
      <mat-form-field appearance="outline">
        <mat-label>Select a Category</mat-label>
        <mat-select
          [(ngModel)]="selectedCategory"
          placeholder="Select a Category"
          (selectionChange)="categoryChanged($event)"
        >
          <mat-option
            *ngFor="let category of categoryList"
            [value]="category"
            >{{ category }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="btn-wrap">
    <button mat-raised-button color="primary">View Questions</button>
  </div>
</div>
